.GuideBoard {
  width: 100%;
  background-color: #400f00;
  padding: 10px;
  color: #fff;
}

.GuideBoard__placeholder {
  height: 50px;
}

.GuideBoard .card-slot {
  border: 1px solid #ccc;
  flex-grow: 1;
}
