html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.purple {
  background-color: #924bb6;
}
.yellow {
  background-color: #fbed41;
}
.blue {
  background-color: #4d76c3;
}
.white {
  background-color: #eaeded;
}
.green {
  background-color: #609078;
}
.red {
  background-color: #b62d27;
}
